<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      post-content="width=device-width, initial-scale=1.0"
    />
    <!-- icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <!-- styles -->
    <link rel="stylesheet" href="./styles/nav.css"/>
    <link rel="stylesheet" href="./styles/general.css"/>
    <link rel="stylesheet" href="./styles/index.css"/>
    <link rel="stylesheet" href="./styles/posts.css"/>
    <link rel="stylesheet" href="./styles/viewall.css"/>

    <!-- scripts -->
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="./scripts/viewone.js"></script>

    <title>{{pageTitle}} | Girls</title>
  </head>
  <body>
<!-- NAVIGATIONS!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
    <!-- top navigation -->
    <nav class="nav-container nav-top-container">
      <ul class="nav-top-items">
        <li>
            <a id="logo" href="/homepage">GIRLS</a>
        </li>
        <li>
            <form action="/login" method="GET">
                <div class="search">
                    <span class="material-symbols-outlined" id="search-symbol">search</span>
                    <input type="search" class="search-input" name="query" placeholder="Start tags with #">
                    <button type="submit" class="search-button">Search</button>
                </div>
            </form>
        </li>
      </ul>
    </nav>
    <!-- top navigation end -->

      <!-- side navigation left -->
      <nav class="nav-container nav-side-left-container">
        <div class="left-wrapper">
            <ul class="nav-side-items">
                <li class="nav-symbol">
                  <a class="nav-symbol-button" id="home-button" href="/homepage">
                    <span
                      class="material-symbols-outlined"
                      id="active"
                    >home</span>
                    Home
                  </a>
                </li>
                <li class="nav-symbol">
                  <a class="nav-symbol-button" id="profile-button" href="/login">
                    <span
                      class="material-symbols-outlined"
                      id="profile-symbol"
                    >person</span>Profile
                  </a>
                </li>
                
                <li>
                  <a class="nav-button" id="create-button" href="/login">Create Post</a>
                </li>
                <li>
                  <a class="nav-button" id="signup-button" href="/signup">Sign Up</a>
                </li>
                <li>
                  <a class="nav-button" id="login-button" href="/login">Log In</a>
                </li>
            </ul>
        </div>
      </nav>
      <!-- side navigation left end -->

      <!-- side navigation right -->
      <nav class="nav-container nav-side-right-container">
        <div class="right-wrapper">
            <ul class="nav-side-right-items">
                <li>Sort by:</li>
                <li class="nav-symbol">
                    <a class="nav-symbol-button" id="recent-button" href="/recent">
                      <span
                        class="material-symbols-outlined"
                        id="filter-symbol"
                      >schedule</span>Recent
                    </a>
                  </li>
                  <li class="nav-symbol">
                    <a class="nav-symbol-button" id="popular-button" href="/popular">
                      <span
                        class="material-symbols-outlined"
                        id="filter-symbol"
                      >filter_alt</span>Popular
                    </a>
                  </li>
            </ul>
        </div>
      </nav>
<!-- NAVIGATIONS END!!!!!!!!!!!!!!!!!!!!!!!!!!! -->      

<div class="content-container">    
  <h1 class="hometext">{{pageTitle}}</h1>
  
  <div class="allposts">
  <!-- homepage.hbs -->
    <div class="posts">
<!-- Display all posts -->
      {{#each posts}}
      <div class="post">
        <!-- Display post content -->
        <div class="profile">
            {{#if this.author.profPicLink}}
                <img src="{{this.author.profPicLink}}" class="dp" />
            {{else}}
                <img src="images/defUser.png" class="dp" />
            {{/if}}
            <div class="headerpost">
                <p class="handle">
                    {{#if this.author.uname}}
                        <a class="user" href="/viewprofile/{{this.author._id}}">@{{this.author.uname}}</a>
                    {{else}}
                        <a class="user" href="/viewprofile/{{this.author._id}}">girlsUser</a>
                    {{/if}}
                </p>
                {{#if this.author.url}}
                    <a class="title" href="{{this.author.url}}">{{title}}</a>
                {{else}}
                    <a class="title" href="/viewone/{{this._id}}">{{title}}</a>
                {{/if}}
            </div>
        </div>
        <div class="content">
            <p class="text">{{{content}}}</p>
        </div>
        <div class="icons">
            <div class="tagpost">
                {{#each tags}}
                    <div class="onetag">
                        <p class="tagtext">{{this}}</p>
                    </div>
                {{/each}}
            </div>
            <div class="action-icons">
                <form method="" action="/login">
                    <button type="submit" class="icon" id="hearticon">
                        <span class="material-symbols-outlined" id="heart">favorite</span>
                    </button>
                </form>
                <p class="count">{{upvotes}}</p> <!-- Display upvotes count here -->

                <form method="" action="/login">
                    <button type="submit" class="icon" id="bhearticon">
                        <span class="material-symbols-outlined" id="brokenheart">heart_broken</span>
                    </button>
                </form>
                <p class="count">{{downvotes}}</p> <!-- Display downvotes count here -->

                <button type="button" class="icon" id="commenticon" onclick="window.location.href = '/viewone/{{_id}}';">
                    <span class="material-symbols-outlined" id="comment">mode_comment</span>
                </button>
                <p class="count">{{totalComments}}</p> <!-- Display comments count here -->
            </div>
        </div>
      </div>
      {{else}}
      <p>No posts found</p>
      {{/each}}
      </div>  
    </div> 
  </div>
</div>   

<div id="myModal3" class="modal" style="{{#if showError3}}display: block;{{else}}display: none;{{/if}}">
  <!-- Modal content -->
  <div class="modal-content">
    <button class="close" onclick="myFunc()">X</button>
    <p>An error occurred fetching user profile.</p>
  </div>
</div>

<script>
// When the user clicks on div, close the popup
function myFunc() {
  $(".modal").hide();
}
</script>





  </body>
</html>