<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      post-content="width=device-width, initial-scale=1.0"
    />
    <!-- icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <!-- styles -->
    <link rel="stylesheet" href="../styles/nav.css" />
    <link rel="stylesheet" href="../styles/general.css" />

    
    <link rel="stylesheet" href="../styles/viewone.css" /> 
    <link rel="stylesheet" href="../styles/comment.css" />

    <!-- scripts -->
    

    <script src="../scripts/viewone.js"></script>
    <script src="../scripts/recent.js" ></script>
    
    
    
    <script src="https://use.fontawesome.com/a31a3f8384.js"></script>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="../scripts/comment.js"></script>

    <title>View one | Girls</title>
  </head>

  <body>
    <!-- NAVIGATIONS!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
    <!-- top navigation -->
    <nav class="nav-container nav-top-container">
      <ul class="nav-top-items">
        <li>
            <a id="logo" href="/homepage">GIRLS</a>
        </li>
        <li>
            <form action="/login" method="GET">
                <div class="search">
                    <span class="material-symbols-outlined" id="search-symbol">search</span>
                    <input type="search" class="search-input" name="query" placeholder="Start tags with #">
                    <button type="submit" class="search-button">Search</button>
                </div>
            </form>
        </li>
      </ul>
    </nav>
    <!-- top navigation end -->

      <!-- side navigation left -->
      <nav class="nav-container nav-side-left-container">
        <div class="left-wrapper">
            <ul class="nav-side-items">
                <li class="nav-symbol">
                  <a class="nav-symbol-button" id="home-button" href="/homepage">
                    <span
                      class="material-symbols-outlined"
                      id="home-symbol"
                    >home</span>
                    Home
                  </a>
                </li>
                <li class="nav-symbol">
                  <a class="nav-symbol-button" id="profile-button" href="/login">
                    <span
                      class="material-symbols-outlined"
                      id="profile-symbol"
                    >person</span>Profile
                  </a>
                </li>
                
                <li>
                  <a class="nav-button" id="create-button" href="/login">Create Post</a>
                </li>
                <li>
                  <a class="nav-button" id="signup-button" href="/signup">Sign Up</a>
                </li>
                <li>
                  <a class="nav-button" id="login-button" href="/login">Log In</a>
                </li>
            </ul>
        </div>
      </nav>
      <!-- side navigation left end -->

      <!-- side navigation right -->
      <nav class="nav-container nav-side-right-container">
        <div class="right-wrapper">
            <ul class="nav-side-right-items">
                <li>Sort by:</li>
                <li class="nav-symbol">
                    <a class="nav-symbol-button" id="recent-button" href="/recent">
                      <span
                        class="material-symbols-outlined"
                        id="filter-symbol"
                      >schedule</span>Recent
                    </a>
                  </li>
                  <li class="nav-symbol">
                    <a class="nav-symbol-button" id="popular-button" href="/popular">
                      <span
                        class="material-symbols-outlined"
                        id="filter-symbol"
                      >filter_alt</span>Popular
                    </a>
                  </li>
            </ul>
        </div>
      </nav>
<!-- NAVIGATIONS END!!!!!!!!!!!!!!!!!!!!!!!!!!! -->   

   <!-- content -->
<div class="content-container">
    <div class="post">
        <div class="header">
            <div class="profile">
                <img src="{{post.author.profPicLink}}" id="dp" />
            </div>
            <div class="headerpost">
                <p class="handle">
                    <a class="user" href="/viewprofile/{{post.author._id}}">@{{post.author.uname}}</a>
                </p>
                <h1 class="title">{{post.title}}</h1>
                {{#if this.isEdited}}  
                  <p id="edited">Edited</p>
                {{/if}} 
            </div>
        </div>
        <div class="post-content">
            <p>{{post.content}}</p>
        </div>
        <div class="tagpost">
            {{#each post.tags}}
            <div class="onetag">
                <p class="tagtext">{{this}}</p>
            </div>
            {{/each}}
        </div>
        <div class="icons">
              <form action="/login" method="get">
                <button type="submit" class="icon" id="hearticon">
                    <span class="material-symbols-outlined" id="heart" aria-hidden="true">favorite</span>
                </button>
              </form>
            <p class="count">{{post.upvotes}}</p>

              <form action="/login" method="get">
                <button type="submit" class="icon" id="bhearticon">
                    <span class="material-symbols-outlined" id="bheart" aria-hidden="true">heart_broken</span>
                </button>
              </form>  
            <p class="count" id="downvote-count">{{post.downvotes}}</p>

            <button type="button" class="icon" id="commenticon">
                <span class="material-symbols-outlined" id="comment">mode_comment</span>
            </button>
            <p class="count" id="comment-count">{{comments.length}}</p>

            <form action="/login" method="get">
              <button type="submit" class="icon" id="editicon">
                  <span class="material-symbols-outlined" id="edit">edit</span>
              </button>
            </form>

            <form action="/login" method="get">
              <button type="submit" class="icon" id="deleteicon">
                  <span class="material-symbols-outlined" id="delete">delete</span>
              </button>
            </form>
            
        </div>
    </div>

    <div>
        <form method="POST" action="/addComment/{{post._id}}">
            <div id="add-comment" class="posta2">
                <textarea
                    name="content"
                    class="bg-comment2"
                    id="commentinput"
                    placeholder="Enter comment here"
                    aria-placeholder="Comment"
                    required
                ></textarea>
                <input
                    type="hidden"
                    class="search search-input"
                    name="postId"
                    value="{{postId}}"
                />
                <input
                    type="hidden"
                    class="search"
                    name="parentCommentId"
                    value="{{parentCommentId}}"
                />
            </div>
            <div class="text-end">
                <button
                    type="submit"
                    id="comment-button"
                >Comment</button>
            </div>
        </form>

        
    </div>

   <div class="comments">
      {{> comment addClassHeartComment = addClassHeartComment addClassBHeartComment = addClassBHeartComment}}
    </div>
</div>
    
<script>
    function editPost() {
        const postId = '{{post._id}}';
        window.location.href = `/editpost/${postId}`;
    }
</script>

  </body>
</html>