<div class="comment-container">
    {{#each comments}}
        <div class="comment">
            <div class="profile-container">
                <p class="profile-picture">
                {{#if this.author.profPicLink}}
                    <img src="{{this.author.profPicLink}}" class="profile-picture" />
                {{else}}
                    <img src="./public/images/defUser.png" class="profile-picture" />
                {{/if}}
                </p>

                <div class="user-info">
                    {{#if this.author.uname}}
                        <a class="user" href="/viewprofile/{{this.author._id}}">@{{this.author.uname}}</a>
                    {{else}}
                        <a class="user" href="/viewprofile/{{this.author._id}}">girlsUser</a>
                    {{/if}}
                </div>
            </div>

            <div class="editable">
                {{this.content}}
            </div>

            {{#if this.isEdited}}
                <p id="edited-text">Edited</p>
            {{/if}}
            
            <!-- Conditional rendering based on isAuthor -->
            {{#if this.isAuthor}}
                <button id="edit-button" data-post-id="{{this.post}}" data-comment-id="{{this._id}}">Edit</button>
                <button id="delete-button" data-post-id="{{this.post}}" data-comment-id="{{this._id}}">Delete</button>
            {{/if}}
            
            <div class="replyInput" contenteditable="true" placeholder="Reply to this comment"></div>
            <div class="row">
                <button id="reply-button" data-post-id="{{this.post}}" data-comment-id="{{this._id}}">Reply</button>
                <button id="collapse-button">Collapse</button>

                <form method="POST" action="/upvoteComment/{{this._id}}">
                    <button type="submit" class="icon" id="hearticon-comment">
                        <span class="material-symbols-outlined" {{#if this.isUpvoted}}id="focus"{{/if}}>favorite</span>
                    </button>
                </form>
                <p class="count">{{this.upvotes}}</p>

                <form method="POST" action="/downvoteComment/{{this._id}}">
                    <button type="submit" class="icon" id="bhearticon-comment">
                        <span class="material-symbols-outlined" {{#if this.isDownvoted}}id="focus"{{/if}}>heart_broken</span>
                    </button>
                </form>
                <p class="count" id="downvote-count">{{this.downvotes}}</p>
            </div>    

            {{#if this.replies}}
                <div class="reply">
                    {{> commentloggedin comments=this.replies}}
                </div>
            {{/if}}
        </div>
    {{/each}}
</div>
