<div class="comment-container">
    {{#each comments}}
        <div class="comment">
            <div class="profile-container">
                <p class="profile-picture">
                {{#if this.author.profPicLink}}
                    <img src="{{this.author.profPicLink}}" class="profile-picture" />
                {{else}}
                    <img src="./public/images/defUser.png" class="profile-picture" />
                {{/if}}
                </p>

                <div class="user-info">
                    {{#if this.author.uname}}
                        <a class="user" href="/viewprofile/{{this.author._id}}">@{{this.author.uname}}</a>
                    {{else}}
                        <a class="user" href="/viewprofile/{{this.author._id}}">girlsUser</a>
                    {{/if}}
                </div>
            </div>

            <div class="editable">
                {{this.content}}
            </div>

            {{#if this.isEdited}}
                <p id="edited-text">Edited</p>
            {{/if}}

                <div class="replyInput" contenteditable="true" placeholder="Reply to this comment"></div>
                <div class="row">

                <form action="/login" method="get">
                    <button type="submit">Reply</button>
                </form>    
                <button id="collapse-button">Collapse</button>

                <form action="/login" method="get">
                    <button type="submit" class="icon" id="hearticon-comment">
                        <span class="material-symbols-outlined {{#if addClassHeartComment}}focus{{/if}}">favorite</span>
                    </button>
                </form>
                <p class="count">{{this.upvotes}}</p>

                <form action="/login" method="get">
                    <button type="submit" class="icon" id="bhearticon-comment">
                        <span class="material-symbols-outlined {{#if addClassBHeartComment}}focus{{/if}}">heart_broken</span>
                    </button>
                </form>    
                <p class="count" id="downvote-count">{{this.downvotes}}</p>
            </div>    

            {{#if this.replies}}
                <div class="reply" >
                    {{> comment comments=this.replies}}
                </div>
            {{/if}}
        </div>
    {{/each}}
</div>

{{!-- <!-- The Modal -->
<div id="myModal1" class="modal" style="{{#if showError1}}display: block;{{else}}display: none;{{/if}}">
<!-- Modal content -->
<div class="modal-content">
    <button class="close" onclick="myFunc()">X</button>
    <p>This field is required!</p>
</div>
</div>

<script>
    function myFunc() {
        $(".modal").hide();
    }
</script> --}}